@import "node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  --accent-color: #076EFF;
  color: #202124;
  background: linear-gradient(#00337a,#3284f8, #6eaaff);
  background-attachment: fixed;
  background-position: 0;
  height: 100%;
  overflow: hidden;
}

main,
.api-key-banner {
  position: relative;
  top: 50%;
  width: 100%;
  padding: 24px;
  max-width: 460px;
  margin: 0 auto;
  border-radius: 20px;
}

.api-key-banner {
  background-color: #FFDDB7;
  font-weight: bold;
  margin-bottom: 16px;
}

.api-key-banner a {
  color: var(--accent-color);
}

* {
  outline-color: var(--accent-color);
}

header {
  // background-color: linear-gradient(to right, #3284f8, #10665a);
  margin: 0;
  padding: 10px;
}


main {
  margin-top: 20px;
  background: linear-gradient(219deg, #092142, #0f3161);
  background-position: 1;
}

h1 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
}

h1::before {
  content: '';
  display: inline-block;
  background: url(gemini.png);
  width: 40px;
  height: 40px;
  background-size: cover;
}

form {
  margin: 0;
  color : #fff;
}

.image-picker {
  display: flex;
  width: 100%;
  gap: 8px;
  margin-top: 24px;
}

.image-choice {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.image-choice:has(:checked)::before {
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1;
  color: white;
  content: '✓';
  background-color: var(--accent-color);
  width: 16px;
  height: 16px;
  display: grid;
  place-items: center;
  font-weight: bold;
  border-radius: 100px;
  box-shadow: 0 0 0 2px #fff;
}

.image-choice:has(:checked)::after {
  content: '';
  position: absolute;
  pointer-events: none;
  inset: 0;
  border-radius: 8px;
  box-shadow:
    0 0 0 2px var(--accent-color) inset,
    0 0 0 4px #fff inset;
}

.image-choice img {
  width: 100%;
}

.image-choice input {
  opacity: 0;
  position: absolute;
}

.image-choice:focus-within::after {
  box-shadow: 0 0 0 4px var(--accent-color) inset;
}

.answer-box {
  margin: 24px 0;
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

label {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}

input,
button {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px 16px;
  font-family: unset;
  font-size: 16px;
}

button {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
}

button:focus-visible {
  outline: 2px solid white;
  outline-offset: -4px;
}

button:hover {
  opacity: 0.95;
}
.output {
  color: #fff;
}

#generateButtonDiv {
  padding-top: 15px;
}

#radioSelect {
  padding-top: 10px;
}

.navbar {
  background-color: #133c75;
  $navbar-padding-y : 1rem;
}

.btn-space {
  margin-right: 30px;
}

// .btn-check + .btn {
//   background-color: #0d6efd;
// }

.btn-check:checked + .btn {
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: #fff; /* Change text color */
}